// Western lotto colors
$primary-color: #06047f;
$secondary-color: #ff6600;
$sidebar-bg-color: #292929;
$footer-bg-color: $primary-color;
$footer-secondary-bg-color: #292929;

// Device breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;